.door_text,
.cave_text {
  width: 400px;
}

.table_container {
  margin-left: 15px;
  margin-right: 15px;
}

.ui-autocomplete {
  z-index: 1040;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 2px;
}

footer {
  margin: 20px;
}

:root {
  --location-size: 24px;
  --location-border-width: 5px;
  --location-fill: #ff0000;
  --location-fill-hover: #ff8000;
  --location-stroke: #000000;
}
.large {
  --location-size: 48px;
  --location-border-width: 10px;
}
.small {
  --location-size: 14px;
  --location-border-width: 4px;
}
.available {
  --location-fill: #32cd32;
  --location-fill-hover: #00ff00;
}
.visible {
  --location-fill: #ffd700;
  --location-fill-hover: #ffff00;
}
.marked {
  --location-fill: #0080ff;
  --location-fill-hover: #80c0ff;
}
.done {
  --location-fill: #808080;
  --location-fill-hover: #a0a0a0;
}
.marked.done {
  --location-fill: #808080;
  --location-fill-hover: #a0a0a0;
  --location-stroke: #0080ff;
}

.map_container {
  display: inline-block;
  position: relative;
}

.map_footer {
  background: black;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.map {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 442px;
  height: 442px;
  background-image: var(--map-url);
  background-size: contain;
}

#lw_map {
  --map-url: url("../img/lightworld.png");
}
#dw_map {
  --map-url: url("../img/darkworld.png");
}

.location {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.location svg {
  width: var(--location-size);
  height: var(--location-size);
  vertical-align: top;
}

.location rect {
  stroke-width: var(--location-border-width);
  stroke: var(--location-stroke);
}

.location circle {
  stroke-width: calc(var(--location-border-width) / 2);
  stroke: var(--location-stroke);
}

.location polygon {
  stroke-width: calc(var(--location-border-width) * 2);
  stroke: var(--location-stroke);
}

.location {
  fill: var(--location-fill);
}

.location:hover {
  fill: var(--location-fill-hover);
}

.item-tracker {
  width: 442px;
  height: 442px;
  background-color: black;

  position: relative;
  display: inline-block;
}

.item {
  position: absolute;
  width: 20%;
  height: 20%;
  z-index: 1;
}

.item_missing {
  opacity: 0.3;
}
