.door_text, .cave_text {
  width: 400px;
}

body {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 110px;
}

.ui-autocomplete {
  z-index: 1040;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 2px;
}

footer {
  margin: 20px;
}
