{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
  },

  rules:{
    "linebreak-style": 0,
    "no-restricted-syntax": ["error", "WithStatement", "BinaryExpression[operator='in']"],
    "no-console": "off",
    "no-continue": "off",
    "no-bitwise": "off"
  }
}
